{% extends 'base.jinja' %} {% block content %}
    <section class="main--tracklist">
        <div class="wrapper--tracklist">
            <div class="header--tracklist"><h1>{{ tracklist.name }}</h1></div>
            <ul class="list--tracklist">
                {% for song in songs %}
                <li class="track track-show">
                    <div class="track--elements__left">
                        <div><img src="{{ song.artwork }}" alt="album artwork" class="track--image"></div>
                        <div class="track--info">
                            <h3>{{ song.name }}</h3>
                            <h4>{{ song.artist }}</h4>
                        </div>
                    </div>
                    <form action="/traxstax/{{ user.id }}/{{ tracklist.id }}/delete/{{ song.id }}" method="POST">
                        <button type="submit" class="button--secondary">Delete</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="buttons--tracklist">
            <form action="/traxstax/{{ user.id }}/tracklists/edit/{{ tracklist.id }}">
                <button type="submit" class="button--primary">Edit Tracklist</button>
            </form>
            <form action="/traxstax/{{ user.id }}/tracklists/delete/{{ tracklist.id }}">
                <button type="submit" class="button--secondary">Delete Tracklist</button>
            </form>
        </div>
    </section>
{% endblock %}