{% extends "base.jinja" %} {% block content %}
    <form action="/traxstax/{{ user.id }}/tracklists/{{ tracklist.id }}" method="POST">
        <label for="title">Tracklist Title</label>
        <input type="text" name="title" id="title" value="{{ tracklist.name }}">
        <label for="cover_image">Cover Image</label>
        <input type="text" name="cover_image" id="cover_image" value="{{ tracklist.cover_image }}">
        <label for="public">Public</label>
        <input type="radio" name="private_public" id="public" value="{{ tracklist.public }}">
        <label for="private">Private</label>
        <input type="radio" name="private_public" id="private">
        
        {% for song in songs %}
            <div>
            {% if song.id not in selected_songs %}
                <label for="song_{{ song.id }}">{{ song.name }}</label>
                <input type="checkbox" id="song_{{ song.id }}" name="song_{{ song.id }}" value="{{ song.id }}">  
            {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Save Changes</button>
    </form>
{% endblock content %}