{% extends 'base.jinja' %} {% block content %}
    <h1>Tracklist</h1>
    <form action="/users/1/tracklists/edit/{{ tracklist.id }}">
        <button type="submit">Edit Tracklist</button>
    </form>
{% endblock %}