{% extends 'base.jinja' %} {% block content %}
    <h1>Tracklist</h1>
    <ul>
        {% for song in songs %}
        <li>
        <h3>{{ song.name }}</h3>
        <h4>{{ song.artist }}</h4>
        </li>
        {% endfor %}
    </ul>
    <form action="/traxstax/{{ user.id }}/tracklists/edit/{{ tracklist.id }}">
        <button type="submit">Edit Tracklist</button>
    </form>
    <form action="/traxstax/{{ user.id }}/tracklists/delete/{{ tracklist.id }}">
        <button type="submit">Delete Tracklist</button>
    </form>
{% endblock %}