{% extends 'base.jinja' %} {% block content %}
    <section class="tracklist__new">
        <form action="/traxstax/{{ user.id }}/tracklists" method="POST" class="form--tracklist__new">
            <input type="text" name="title" id="title" placeholder="Tracklist Title" class="form--tracklist__title">
            <input type="text" name="cover_image" id="cover_image" placeholder="Artwork Link" class="form--tracklist__cover_image">
            <div class="form--public-private">
                <label for="public" class="form--radio__option checkbox">Public
                    <input type="radio" name="private_public" id="public" value="True">
                    <span class="input--checkbox"></span>
                </label>
                <label for="private" class="form--radio__option checkbox">Private
                    <input type="radio" name="private_public" id="private" value="False">
                    <span class="input--checkbox"></span>
                </label>
            </div>
            <label for="songs" class="form--tracklist__add_tracks">Add Tracks</label>
            <button type="submit" class="button--primary form--button__submit">Create Tracklist</button>
        </form>
    </section>
{% endblock %}