{% extends 'base.jinja' %} {% block content %}
    <form action="/users/1/tracklists" method="POST">
        <label for="title">Tracklist Title</label>
        <input type="text" name="title" id="title">
        <label for="description">Tracklist Description</label>
        <input type="text" name="description" id="description">
        <label for="public">Public</label>
        <input type="radio" name="private_public" id="public">
        <label for="private">Private</label>
        <input type="radio" name="private_public" id="private">
        <label for="songs">Add Tracks</label>
        {# <select name="songs" id="songs" multiple>
            {% for song in songs %}
                <option value="{{ song.id }}"> {{ song.name }}</option>
            {% endfor %}
        </select> #}
        <button type="submit">Create Tracklist</button>
    </form>
{% endblock %}