* {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.background--gradient {
    background: linear-gradient(to bottom right, rgb(4, 0, 18, 0.9), rgba(12, 0, 50, 0.5));
    height: 115vh;
    width: 100vw;
}

.background--gradient__login {
    background: radial-gradient(rgba(12, 0, 50, 0.5), rgb(4, 0, 18, 0.9));
}

a:hover {
    font-weight: 700;
}

.button--primary {
    background-color: #040012;
    color: rgb(221, 213, 255);
    width: auto;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #040012;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
}

.button--primary:hover {
    border-color: #cfc1ff;
}

.button--secondary {
    background-color: transparent;
    color: #040012;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #040012;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
}

.button--secondary:hover {
    border-color: #cfc1ff;
    color: #cfc1ff;
}

.checkbox input {
    height: 0;
    width: 0;
}

.input--checkbox {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #040012;
    border-radius: 30%;
    background-color: #cfc1ff;
    display: flex;
    align-items: top;
}

.checkbox:hover input ~ .input--checkbox {
    background-color: #040012;
}

.checkbox input:checked ~ .input--checkbox {
    background-color: #040012;
}

.checkbox .input--checkbox:after {
    width: 5px;
    height: 10px;
    padding-left: 2px;
    padding-bottom: 4px;
    justify-self: center;
    font-weight: 700;
    color: rgb(221, 213, 255);
}

.checkbox input:checked ~ .input--checkbox:after {
    visibility: visible;
} 

.input--checkbox:after {
    content: '\2713'; 
    /* \2661 */
    /* position: absolute; */
    visibility: hidden
} 

/* ========== Login Styling ========== */

.login--hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.logo {
    height: 150px;
    width: 150px;
}

.input--username {
    background-color: transparent;
    height: 5vh;
    font-size: 18px;
}

/* ========== Top Nav Bar Styling ========== */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #040012;
    height: 64px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logo {
    padding-bottom: 5px;
}

.nav-logo h1 {
    font-weight: 700;
    font-size: 32px;
    
}

.nav__options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ========== User Profile Styling ========== */

.hero-user {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #0C0032; */
    background-color: transparent;
    height: 300px;
}

.user--profile_image__container {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:75vw;
}

.username {
    font-size: 32px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.user-bio {
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.555);
}

.content-user {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 300px);
}

.nav-user {
    height: calc(100vh - 300px);
    width: calc(20vw - 3vw);
    /* background-color: #0C0032; */
    background-color: transparent;
    padding-top: 3vw;
    padding-left: 3vw;
}

.display-user {
    height: calc(100vh - 300px);
    width: calc(80vw - 4vw);
    /* background-color: #0c0032f0; */
    background-color: transparent;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 10px;
}

.nav-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__display--tracklist {
    width: 75vw;
    height: 40px;
    border: 1px solid #040012;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.user__display--tracklist a {
    padding: 10px;
}

/* ========== New Tracklist Form Styling ========== */

input[type=text] {
    border: none;
    border-bottom: 0.5px solid rgb(221, 213, 255);
    color: rgb(221, 213, 255);
}

input[type=text]::placeholder {
    color: rgba(221, 213, 255, 0.408);
}

input[type=text]:focus {
    color: rgb(221, 213, 255);
    outline: none;
}

.form--tracklist__new {
    display: flex;
    flex-direction: column;
    width: 75vw;
    gap: 4vw
}

.tracklist__new {
    height: calc(100vh - 64px - 240px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.form--tracklist__title {
    background-color: transparent;
    height: 10vh;
    font-size: 64px;
    color: rgba(221, 213, 255, 0.408);
}

.form--tracklist__cover_image {
    background-color: transparent;
    height: 5vh;
    font-size: 18px;
    color: rgba(221, 213, 255, 0.408);
}

.form--public-private {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.form--radio__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(221, 213, 255, 0.408);
}

.form--radio__option label {
    color: rgba(221, 213, 255, 0.408);
}

.form--tracklist__add_tracks {
    color: rgb(221, 213, 255);
}

.form--button__submit {
    width: 15vw;
}


/* ========== Tracklist Display Styling ========== */

.main--tracklist {
    height: 100vh;
}

.header--tracklist h1 {
    font-size: 28px;
}

.wrapper--tracklist {
    height: 75vh;
    padding: 5vh 8vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.list--tracklist {
    background: linear-gradient(to bottom right, rgba(138, 112, 223, 0.087), rgba(138, 112, 223, 0.024));
    border: 3px solid #04001296;
    border-radius: 20px;
    width: calc(83.7vw - 4vw);
    height: 75vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow: scroll;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.track--image {
    height: 5vh;
    opacity: 0.5;
}

.track--info h3 {
    font-size: 16px;
}

.track--info h4 {
    font-size: 12px;
    font-weight: 400;
}

.buttons--tracklist {
    display: flex;
    padding: 0 13vw;
    justify-content: space-between;
    gap: 3vw;
}

/* ========== Edit Tracklist Form Styling ========== */

.form--tracklist__edit {
    height: calc(60vh - 64px - 240px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 60px 120px;
    gap: 2vh;
}

.main--tracklist__edit {
    height: 106vh;
    overflow: scroll;
}

.wrapper--button {
    padding: 32px 120px;
}

/* ========== Upload Form Styling ========== */

.wrapper--form--upload {
    margin: 4vh 10vw;
}

.form--upload {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.input--upload__primary {
    background-color: transparent;
    height: 10vh;
    font-size: 58px;
    color: rgba(221, 213, 255, 0.408);
}

.input--upload__secondary {
    background-color: transparent;
    height: 5vh;
    font-size: 22px;
    color: rgba(221, 213, 255, 0.408);
}

.input--upload__link {
    background-color: transparent;
    height: 5vh;
    font-size: 18px;
    color: rgba(221, 213, 255, 0.408);
}

.button--upload {
    width: 15vw;
}

/* ========== Upload Form Styling ========== */

.list--uploads {
    width: 70vw;
}

.upload--elements__left {
    display: flex;
    gap: 2vw;
}

.upload {
    display: flex;
    justify-content: space-between;
}

.upload--image {
    height: 8vh
}