* {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    font-weight: 700;
}

.button--primary {
    background-color: #cfc1ff;
    color: #040012;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #040012;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
}

.button--primary:hover {
    background-color: #040012;
    color: #cfc1ff;
    border-color: #cfc1ff;
}

/* ========== Top Nav Bar Styling ========== */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #040012;
    height: 64px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logo {
    padding-bottom: 5px;
}

.nav-logo h1 {
    font-weight: 700;
    font-size: 32px;
    
}

.nav__options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* ========== User Profile Styling ========== */

.hero-user {
    display: flex;
    flex-wrap: wrap;
    background-color: #0C0032;
    height: 300px;
}

.user--profile_image__container {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:75vw;
}

.username {
    font-size: 32px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.user-bio {
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.555);
}

.content-user {
    display: flex;
    flex-wrap: wrap;
}

.nav-user {
    height: 100vh;
    width: calc(20vw - 3vw);
    background-color: #0C0032;
    padding-top: 3vw;
    padding-left: 3vw;
}

.display-user {
    height: 100vh;
    width: calc(80vw - 4vw);
    background-color: #0c0032f0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ========== New Tracklist Form Styling ========== */

.tracklist__new label {
    color: black;
}

.user__display--tracklist {
    width: 75vw;
    height: 40px;
    border: 1px solid #040012;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.user__display--tracklist a {
    padding: 10px;
}