<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traxstax</title>
</head>
<body>

    <nav>
    <div>traxstax</div>
    <div>
        <ul>
            <li>profile</li>
            <li>add upload</li>
        </ul>
    </div>
    </nav>

    {% block content %}
        
    {% endblock content %}

</body>
</html>