<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>traxstax</title>
</head>
<body>

    <nav class="nav">
    <div>traxstax</div>
    <ul class="nav__options">
        <li>profile</li>
        <li><a href="/users/1/upload/new">add upload</a></li>
    </ul>
    </nav>

    {% block content %}
        
    {% endblock content %}

</body>
</html>