{% extends 'index.jinja' %} {% block content %}
<form action="/traxstax/login" method="POST">
    <input type="text" name="username" id="username" placeholder="Enter username" class="input--username">
    <button type="submit" class="button--primary">Login</button>
</form>
{% endblock %}