{% extends 'base.jinja' %} {% block content %}
    <div class="wrapper--form--upload">
        <form action="/traxstax/{{ user.id }}/upload/new" method="POST" class="form--upload">
            <input type="text" name="name" id="name" placeholder="Title of upload" class="input--upload__primary">
            <input type="text" name="artist" id="artist" placeholder="Artist" class="input--upload__secondary">
            <input type="text" name="album" id="album" placeholder="Album" class="input--upload__secondary">
            <input type="text" name="genre" id="genre" placeholder="Genre" class="input--upload__secondary">
            <input type="text" name="artwork" id="artwork" placeholder="Enter URL for artwork" class="input--upload__link">
            <button type="submit" class="button--primary button--upload">Add Upload</button>
        </form>
    </div>
{% endblock %}