{% extends './base.jinja' %} {% block content %}
    <section class="hero-user">
        <div>insert profile_image here</div>
        <ul>
            <li>Username</li>
            <li>Bio</li>
        </ul>
    </section>
    <div class="content-user">
        <nav class="nav-user">
            <ul>
                <li>Uploads</li>
                <li>Tracklists</li>
                <li>Friends</li>
                <li>Settings</li>
            </ul>
        </nav>
        <div class="display-user">
            {% block content_inner %}
                
            {% endblock %}
        </div>
    </div>

{% endblock content %}
