{% extends 'users/user.jinja' %} {% block content_inner %} {{ super() }}
    <h2>Tracklist are gonna go here!</h2>
    <form action="/users/1/tracklists/new">
        <button type="submit">New Tracklist</button>
    </form>
    
{% endblock %}