{% extends './base.jinja' %} {% block content %}
    <section>
        <div>insert profile_image here</div>
        <div>
            <ul>
                <li>Username</li>
                <li>Bio</li>
            </ul>
        </div>
    </section>
    <div>
        <nav>
            <ul>
                <li>Uploads</li>
                <li>Tracklists</li>
                <li>Friends</li>
                <li>Settings</li>
            </ul>
        </nav>
        <div>
            {% block content_inner %}
                
            {% endblock %}
        </div>
    </div>
{% endblock content %}
