{% extends 'users/user.jinja' %} {% block content_inner %} {{ super() }}
    <h2>Tracklist are gonna go here!</h2>
    {% for tracklist in tracklists %}
        <div>
            <a href="/traxstax/{{ user.id }}/tracklists/ {{ tracklist.id }}">{{ tracklist.name }}</a>
        </div>
    {% endfor %}
    <form action="/traxstax/{{ user.id }}/tracklists/new">
        <button type="submit">New Tracklist</button>
    </form>
    
{% endblock %}