{% extends 'users/user.jinja' %} {% block content_inner %} {{ super() }}
    {% for tracklist in tracklists %}
        <div class="user__display--tracklist">
            <a href="/traxstax/{{ user.id }}/tracklists/ {{ tracklist.id }}">{{ tracklist.name }}</a>
        </div>
    {% endfor %}
    <form action="/traxstax/{{ user.id }}/tracklists/new">
        <button type="submit" class="button--primary">New Tracklist</button>
    </form>
    
{% endblock %}