{% extends 'users/user.jinja' %} {% block content_inner %}  {{ super() }}
    <h1>Uploads</h1>
    <div class="user--uploads">
        <ul class="list--tracklist">
            {% for song in songs %}
            <li class="track">
            <div><img src="{{ song.artwork }}" alt="album artwork" class="track--image"></div>
            <div class="track--info">
                <h3>{{ song.name }}</h3>
                <h4>{{ song.artist }}</h4>
            </div>
            <form action="/traxstax/{{ user.id }}/upload/delete/{{ song.id }}" method="POST">
                <button type="submit" class="button--primary">Delete Upload</button>
            </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form action="/traxstax/{{ user.id }}/upload/new">
        <button type="submit" class="button--primary">add upload</button>
    </form>
{% endblock %}