<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traxstax</title>
</head>
<body>
    <h1>You've got your user!!!</h1>
</body>
</html>