{% extends 'users/user.jinja' %} {% block content_inner %}  {{ super() }}
    <div class="user--uploads">
        <ul class="list--tracklist list--uploads">
            {% for song in songs %}
            <li class="track upload">
            <div class="upload--elements__left">
                <div><img src="{{ song.artwork }}" alt="album artwork" class="upload--image"></div>
                <div class="track--info">
                    <h3>{{ song.name }}</h3>
                    <h4>{{ song.artist }}</h4>
                </div>
            </div>
            <form action="/traxstax/{{ user.id }}/upload/delete/{{ song.id }}" method="POST">
                <button type="submit" class="button--secondary">Delete Upload</button>
            </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form action="/traxstax/{{ user.id }}/upload/new">
        <button type="submit" class="button--primary">Add Upload</button>
    </form>
{% endblock %}